@import url('../../reset.css');

html {
    font: 16px/1.5 Arial, Helvetica sans-serif;
}

.element {
    background: black;
    border-radius: 0.5em;
    color: white;
    display: flex;
    align-items: center;
}

.element > p {
    padding-left: 1em;
    font-weight: 700;
}

.container {
    display: grid;
    grid-template-columns: repeat(9, 12.5em);
    grid-template-rows: repeat(9, 3.5em);
    grid-gap: 1.5em;
}

.item1 {grid-column: 1 span / 1;}
.item2 {grid-column: 2 span / 1;}


